@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

html {
  scroll-behavior: smooth;
}

.navbar.scrolled {
  background-image: url(../img/h1-bk.jpg);
  transition: background-color 200ms linear;
}

.title {
  font-family: 'Cinzel', serif;
  color: white;
}

.text {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.text-list {
  font-family: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

.menu-txtes {
  font-family: 'Raleway', sans-serif;
  color: lightgrey;
  font-size: 17px;
}

.menu-txtes:hover {
  color: white;
}

.list-group-item{
 background-color: rgba(255, 255, 255, 0.6);
}

.navbar-brand {
  font-family: 'Cinzel', serif;
  color: white;
  font-size: 22px;
}

.navbar-brand:hover {
  color: white;
}

.title-body-punk {
  color: #fff;
  text-shadow: 0 0 15px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #3ff, 0 0 150px #0ff;
  position: relative;
  top: 30%;
  transform: translateY(-30%);
  font-family: 'Cinzel', serif;
  letter-spacing: 6px;
  font-size: 42px;
}

.link-bonito{
  color: rgba(255, 255, 255, 0.6);
}

.link-bonito:hover{
  color: darkred;
  text-decoration: none;
}

#empresa {
  background-image: url(../img/empresa-bk.jpg);
}

#produto {
  background-image: url(../img/produto-bk.jpg);
}

#page-footer {
  background-image: url(../img/footer-bk.jpg);
}

#faz-chover {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  background-size: cover;
}

.bk-escurecido {
  background-color: rgba(0, 0, 0, 0.9);
}

.bk-trans-parent {
  background-color: transparent;
}

.br-9 {
  border-radius: 9px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@media (max-width: 768px) {
  .ajeita-altura {
    height: auto;
  }
}
